<template>
	<div>
		<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
            
            <div class="navbar-inner">
                <div class="navbar-header">
                    <a href="/home" class="navbar-brand">
                        <div style="background-color: transparent !important;"><img src="img/logo.png" alt="" style="margin-top: -4px; height: 24px;"></div>&nbsp;
                        <strong>-&nbsp;</strong>Master
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
                </div>

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <div>
                        <div class="right clearfix">
                            <ul class="nav navbar-nav pull-right right-navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                        <img src="img/1.jpg" alt="">
                                        <span>User</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="pages-signin.html"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>]

        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <div class="menu-content top" id="menu-content-demo">
                    <div>
                        <div class="text-bg"><span class="text-slim">Welcome ,</span> <span class="text-semibold">User</span></div>

                        <img src="img/1.jpg" alt="" class="">
                        <div class="btn-group">
                            <a href="#" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="navigation">
                    <li>
                        <a href="/home"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/users"><i class="menu-icon fa fa-users"></i><span class="mm-text">Users</span></a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</template>