<template>
	<div>
		<ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">Dashboard</a></li>
    </ul>
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard</h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
	</div>
</template>
<script>
export default {
  data(){
    return {
    	token: '',
    }
  },
  mounted() {
  	this.isLogin()
  },
  methods: {
    Logout() {
    	let self = this

    	let config = {
		    headers: {
		      'Authorization': 'Bearer ' + self.token
		    }
		  }
    	
      axios.get('/api/logout',config)
		      .then(function (response) {
		      	// var resp = response.data
		      	// if (resp.login) {
		      	// 	window.location = "/home"
		      	// }else{
		      	// 	window.location = "/api/login"
		      	// }
		        // console.log(response.data.login)
		        console.log(response)

		      })
		      .catch(function (error) {

		      });
    },
    isLogin() {
    	let self = this
      axios.get('/api/isLogin')
		      .then(function (response) {
		      	var resp = response.data
		      	if (resp.login) {
		      			self.token = resp.token
		      			console.log(resp.token)
		      	}
		      })
		      .catch(function (error) {

		      });
    }
  }
}
</script>