<template>
	<div>
		
		<div class="signin-header">
			<a class="logo">
				<div class="demo-logo" style="background-color: transparent !important;"><img src="img/logo.png" alt="" style="margin-top: -4px; height: 24px;"></div>&nbsp;
				<strong>-&nbsp;</strong>Master
			</a>
			<a @click.prevent="isLogin" class="btn btn-primary">Sign in</a>
		</div>

		<h1 class="form-header">BKM Master</h1>

		<div align="center">
			<img src="img/logo.png" style="height: 200px; margin-top: 10px;">
		</div>
		
	</div>
</template>
<script>
export default {
  data(){
    return {}
  },
  methods: {
    isLogin() {
    	let self = this
      axios.get('/api/isLogin')
		      .then(function (response) {
		      	var resp = response.data
		      	if (resp.login) {
		      		window.location = "/home"
		      	}else{
		      		window.location = "/api/login"
		      	}
		      })
		      .catch(function (error) {

		      });
    }
  }
}
</script>