<template>
	<div>

		<div class="signin-header">
			<a class="logo">
				<div class="demo-logo" style="background-color: transparent !important;"><img src="http://localhost:8000/img/logo.png" alt="" style="margin-top: -4px; height: 24px;"></div>&nbsp;
				<strong>-&nbsp;</strong>Master
			</a>
		</div>

		<h1 class="form-header">Sign in to your Account</h1>

		<form id="signin-form_id" class="panel">
			<div class="alert alert-danger" v-if="errors.length > 0">
          <ul>
              <li v-for="error in errors">{{ error }}</li>
          </ul>
      </div>

			<template v-if="errorDetails.type == 'email'">
					<div class="form-group dark has-error">
						<input type="email" id="email" v-model="loginDetails.email" class="form-control input-lg" placeholder="Email">
						<div for="email" class="help-block">{{ errorDetails.msg }}</div>
					</div>
			</template>
			<template v-else>
					<div class="form-group">
						<input type="email" v-model="loginDetails.email" class="form-control input-lg" placeholder="Email">
					</div>
			</template>

			<template v-if="errorDetails.type == 'password'">
					<div class="form-group signin-password dark has-error">
						<input type="password" id="password" v-model="loginDetails.password" class="form-control input-lg" placeholder="Password">
						<div for="password" class="help-block">{{ errorDetails.msg }}</div>
					</div>
			</template>
			<template v-else>
					<div class="form-group signin-password">
						<input type="password" v-model="loginDetails.password" class="form-control input-lg" placeholder="Password">
					</div>
			</template>
				

			<div class="form-actions">
				<input type="submit" @click.prevent="loginPost" value="Sign In" class="btn btn-primary btn-block btn-lg">
			</div>
		</form>

	</div>
</template>

<script>
 	export default {
        data(){
            return{
	            loginDetails:{
	                email:'',
	                password:'',
	            },
	            errorDetails:{
	            		type:'',
	            		msg:'',
	            },
	            errors: [],
            };
        },
        methods:{
	        loginPost(){
	            let vm = this;
	            axios.post('/api/login', vm.loginDetails)
	            .then(function (response) {
	                window.location = "/home"
	            })
	            .catch(function (error) {
	            		var resp = error.response
                  if(resp.status == 500){
                     alert('Terjadi kesalahan harap hubungi admin')
                  }else if(resp.status == 422){
                  	var dataError = error.response.data
                  	vm.errors = []
                  	if(resp.statusText === 'Unprocessable Entity'){
                      
                      if(typeof dataError.errors != 'undefined'){
                      	if (typeof dataError.errors.email != 'undefined') {
			                    vm.errors.push(dataError.errors.email[0])
				                }

				                if (typeof dataError.errors.password != 'undefined') {
				                    vm.errors.push(dataError.errors.password[0])
				                }
                      }

			                if (typeof dataError.type != 'undefined') {
			                	vm.errorDetails.type = dataError.type
							      		vm.errorDetails.msg = dataError.msg
			                }

                  	}
                  }
	            });
	        },
        }
    }
</script>