<template>
	<div>
		<ul class="breadcrumb breadcrumb-page">
            <div class="breadcrumb-label text-light-gray">You are here: </div>
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Users</a></li>
        </ul>
        <div class="page-header">
            <h1><i class="fa fa-users page-header-icon"></i>&nbsp;&nbsp;Users</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">List Users</span>
                        <button class="btn btn-success pull-right btn-sm" @click.prevent="initModal('add')"><i class="fa fa-plus"></i>&nbsp;&nbsp;Tambah</button>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="users.length > 0" v-for="(user, index) in users">
                                    <tr>
                                        <td>{{ index+1 }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" @click.prevent="initModal('edit',index)"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-sm"  @click.prevent="deleteUsr(user.id)"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="4">Data users not found.</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel" v-if="mode == 'add'">Add User</h4>
                        <h4 class="modal-title" id="myModalLabel" v-else>Edit User</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div :class="'form-group no-margin-hr '+errors.name">
                            <label class="control-label">Name</label>
                            <input id="validation-name" v-model="details.name" type="text" class="form-control">
                            <div for="validation-name" class="help-block" v-if="errors.name == 'has-error'">{{ errors.msgName }}</div>
                        </div>
                        <div :class="'form-group no-margin-hr '+errors.email">
                            <label class="control-label">Email</label>
                            <input id="validation-email" v-model="details.email" type="email" class="form-control">
                            <div for="validation-email" class="help-block" v-if="errors.email == 'has-error'">{{ errors.msgEmail }}</div>
                        </div>
                        <div :class="'form-group no-margin-hr '+errors.password">
                            <label class="control-label">Password</label>
                            <input id="validation-password" v-model="details.password" type="password" class="form-control">
                            <div for="validation-password" class="help-block" v-if="errors.password == 'has-error'">{{ errors.msgPassword }}</div>
                        </div>
                        <div class="form-group no-margin-hr">
                            <label class="control-label">Confirm Password</label>
                            <input type="password" v-model="details.password_confirmation" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click.prevent="save" class="btn btn-success" v-if="mode == 'add'">Save</button>
                        <button type="button" @click.prevent="save('update')" class="btn btn-primary" v-else>Save</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
export default {
  data(){
    return {
        users: [],
        mode: '',
        id: '',
        details: {
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
        },
        errors: {
            name: '',
            msgName: '',
            email: '',
            msgEmail: '',
            password: '',
            msgPassword: '',
        },
    }
  },
  mounted() {
    this.fetch()
  },
  methods: {
    fetch(){
        let self = this

        axios.get('/data/users')
            .then(function (response) {
                var resp = response.data
                self.users = resp.result.users
            })
    },
    initModal(status, index = ''){
        let self = this

        self.mode = status
        self.reset()

        if(status == 'edit'){
            var data = self.users[index]

            self.id = data.id
            self.details.name = data.name
            self.details.email = data.email
        }

        $("#myModal").modal("show")
    },
    save(status = 'add'){
        let self = this;
        
        var url = '/users';

        if(status == 'update'){
            url = '/user/'+self.id;
        }


        axios.post(url, self.details)
            .then(function (response) {
                $("#myModal").modal("hide")

                self.reset(true)
            })
            .catch(function (error) {
                self.resetError()

                if (error.response.data.errors.name) {
                    self.errors.name = 'has-error'
                    self.errors.msgName = error.response.data.errors.name[0]
                }

                if (error.response.data.errors.email) {
                    self.errors.email = 'has-error'
                    self.errors.msgEmail = error.response.data.errors.email[0]
                }

                if (error.response.data.errors.password) {
                    self.errors.password = 'has-error'
                    self.errors.msgPassword = error.response.data.errors.password[0]
                }

            });
    },
    deleteUsr(id){
        let self = this

        return confirm('Are you sure you want to delete this user ?')

        axios.delete('/user/'+id)
            .then(function (response) {
                self.reset(true)
            })
    },
    reset(status = false){
        let self = this

        self.details.name = ''
        self.details.email = ''
        self.details.password = ''
        self.details.password_confirm = ''

        self.resetError()

        if(status){
            self.fetch()
        }
    },
    resetError(){
        let self = this

        self.errors.name = ''
        self.errors.msgName = ''
        self.errors.email = ''
        self.errors.msgEmail = ''
        self.errors.password = ''
        self.errors.msgPassword = ''
    },
  }
}
</script>